<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="emailConfiguration"
               type="ExpressEmail.Configuration.ExpressEmailConfiguration, ExpressEmail"
               allowLocation="true"
               allowDefinition="Everywhere"
               requirePermission="false"/>
  </configSections>

  <emailConfiguration>
    <mainEmailConfiguration>
      <smtp host="example.smtp.com" port="587" useDefaultCredentials="false" enableSsl="true">
        <credentials userName="email@example.com" password="password"/>
      </smtp>
    </mainEmailConfiguration>
  </emailConfiguration>
  
</configuration>